.TrendingEventsContainer {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
  grid-auto-columns: 86%;
  overflow-x: auto;
}

.custom-select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffffff"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px 16px;
  padding-right: 24px;
}

